<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.help_farmers.mapper.JxcOutputMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.help_farmers.model.domain.JxcOutput">
        <id column="id" property="id" />
        <result column="farm_products_number" property="farmProductsNumber" />
        <result column="batch_num" property="batchNum" />
        <result column="o_num" property="oNum" />
        <result column="o_total_price" property="oTotalPrice" />
        <result column="w_id" property="wId" />
        <result column="o_people" property="oPeople" />
        <result column="o_phone" property="oPhone" />
        <result column="remarks" property="remarks" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, farm_products_number, batch_num, o_num, o_total_price, w_id, o_people, o_phone, remarks, create_time, create_by, del_flag
    </sql>

    <select id="outputList" resultType="com.help_farmers.model.vo.OutputVo">
        SELECT
        jo.id,
        jo.farm_products_number,
        fp.name AS farmProductsName,
        jo.batch_num,
        jw.w_name AS wName,
        fp.unit,
        fp.out_price AS outPrice,
        jo.o_num,
        jo.o_total_price,
        jo.o_people,
        jo.o_phone,
        jo.remarks,
        jo.create_time,
        jo.create_by
        FROM
        t_jxc_output jo
        LEFT JOIN t_base_farm_products fp ON jo.farm_products_number = fp.number
        LEFT JOIN t_jxc_warehouse jw ON jo.w_id = jw.w_id
        <where>
            <if test="1 == 1">
                jo.del_flag = 0
            </if>
            <if test="farmProductsNumber != null and farmProductsNumber != ''">
                AND jo.farm_products_number like concat('%', #{farmProductsNumber},'%')
            </if>
            <if test="farmProductsName != null and farmProductsName != ''">
                AND fp.name like concat('%', #{farmProductsName},'%')
            </if>
        </where>
        ORDER BY
        jo.create_time DESC
    </select>

</mapper>
